<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
    body
    {
        font-family:Arial,Sans-Serif;
        background-color:White;
        font-size:12px;
    }
    </style>
</head>
<body>
You need to activate <strong>javascript</strong> in your browser to work in these HITs.<br />
See how to do it <a href="http://www.activatejavascript.org/" target="_blank">here</a> (opens in new window).
</body>
</html>
